<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <%- include('partials/navbar', { path: path} ); %>
  <div class='container'>
      <% include partials/forms/comment %>

  </div>
</body>
</html>
