<form action='product-search' , method="GET" id='search-form'>
  <div class='input-group'>
    <input type='search' class='form-control search-field' name='search-term'>
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
  </div>
</form>
